.projects {
  position: relative;
  padding-top: 80px;
}

.brands {
  background-image: url(../images/rectangle.png);
  background-position-x: center;
  background-size: cover;
  padding-bottom: 70px;
  padding-top: 8rem;
  .brand-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    img{
      max-width: 125px;
      max-height: 100px;
    }
  }
  .col-xl-3 {
    margin-bottom: 30px;
  }
}
