.services {
  .services-discription {
    padding-top: 70px;
    background-color: #fff;
    font-size: 14px;
    .title{
      padding-bottom: 0 !important;
    }
  }

  .services-content {
    background-image: url(../images/rectangle.png);
    padding: 10rem 0 80px;
    transition: all .5s ease;
    background-position-x: center;
    background-size: cover;
    .services-card {
      transition: all .5s ease;
      padding: 1.5rem 1.5rem 2.3rem;
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 0 0 5px 0 rgba(176, 184, 185, 0.5);
      margin-bottom: 30px;
      .services-card-header {
        min-height: 8rem;
        h5 {
          font-weight: bold;
        }
        img {
          margin-right: 2rem;
        }
        .services-header-text {
          width: 65%;
        }
      }
      .services-card-text {
        font-size: 14px;
        margin: 14px 0;
      }
    }
    .services-btn{
      margin-top: 30px;
    }
  }
}
.border-card{
  border-top: 5px solid #c02111;
  transition: all 1s ease;
}