footer {
  background-color: #0a3563;
  padding: 40px 0;
  .footer-link {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    -webkit-justify-content: center;  
    -ms-justify-content: center;  
    a {
      color: #fff;
      margin: 0 2.5rem;
    }
  }
  .footer-adress {
    margin-top: 48px;
    .adress {
      color: #fff;
      .silver-text {
        color: silver;
        font-size: 14px;
      }
    }
    .email {
      h4 {
        color: #fff;
      }
      a {
        color: #a1ceff;
      }
    }
    .social {
      a {
        &:first-child {
          margin-left: 50px;
        }
        i {
          color: #a1ceff;
          border: 5px solid #084073;
          padding: 6px;
          border-radius: 50%;
          background-color: #006db3;
          transition: all 0.3s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .a-lux-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      display: flex;
      align-items: flex-end;
      color: #fff;
      img {
        margin-left: 10px;
      }
    }
  }
}
.social-contact {
  i {
    color: #a1ceff;
    padding: 6px;
    border-radius: 50%;
    background-color: #006db3;
    transition: all 0.3s ease;
    width: 30px;
    height: 30px;
    &:hover {
      transform: scale(1.1);
    }
  }
}
