.navbar-brand{
  img{
    width: auto;
  }
}

header {
  background-image: url("../images/index-slider.png");
  padding-top: 23px;
  z-index: 555;
  width: 100%;
}
.navbar {
  .collapse {
    p {
      margin: 0;
    }
    .navbar-nav {
      align-items: center;
      ul {
        li {
          list-style-type: none;
          padding: 0 20px;
          border-right: 2px solid #011961;
          color: #fff;
          p {
            font-size: 18px;
          }
          a {
            color: #a1ceff;
          }
        }
      }
    }
  }
}
nav {
  display: flex;
  justify-content: space-around;
  padding-top: 2.2rem;
  height: 5.5rem;
  a {
    color: #fff;
    position: relative;
    transition: all .3s ease;
    &:hover{
      text-decoration: none;
      transition: all .5s ease-in-out;
      color: #fff;
      transform: scale(1.1);
      &::after {
        content: "";
        position: absolute;
        left: 23%;
        top: -6px;
        width: 60%;
        height: 3px;
        background-color: #c02111;
      }
    }
  }
}
.active-index {
  &::after {
    content: "";
    position: absolute;
    left: 23%;
    top: -6px;
    width: 60%;
    height: 3px;
    background-color: #c02111;
  }
}
.active-link{
  &::after{
    content: '';
    width: 70%;
    height: 5px;
    background-color:#c02111;
    position: absolute;
    left: 15%;
    bottom: 0;
  }
}
