.title {
  padding-bottom: 52px;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center; }
  .title:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 5px;
    top: -1rem;
    background-color: #c02111; }

.date {
  color: #c02111; }

.title-portfolio {
  text-align: center;
  position: relative; }
  .title-portfolio::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 10px;
    background-color: #c02111;
    top: -2rem; }
  .title-portfolio::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    background-color: #c02111;
    top: -1rem; }

.btn-service {
  padding: 10px 30px;
  border-radius: 2rem;
  background-color: #c02111;
  color: #fff;
  border: none; }
  .btn-service:hover {
    background-color: #f34d4d; }

.btn-outline {
  border-radius: 2rem;
  padding: 10px 30px;
  font-weight: 500;
  border: 1px solid #c02111;
  color: #c02111; }
  .btn-outline:hover {
    background-color: #f34d4d; }

.mian-slider {
  width: 100%; }
  .mian-slider .main-text {
    position: absolute;
    top: 300px;
    width: 50%;
    color: #fff; }
    .mian-slider .main-text p {
      margin: 33px 0 50px; }
  .mian-slider .owl-dots {
    position: absolute;
    left: 5%;
    top: 350px;
    display: flex;
    flex-direction: column;
    z-index: 111111; }
    .mian-slider .owl-dots button:focus {
      outline: none; }
    .mian-slider .owl-dots .owl-dot span {
      width: 5px;
      height: 5px;
      margin-bottom: 25px; }
    .mian-slider .owl-dots .owl-dot.active span {
      background-color: #065e9f; }

.last-project .owl-dots button:focus {
  outline: none; }

.last-project .owl-dot span {
  width: 5px !important;
  height: 5px !important;
  margin-right: 25px !important;
  background-color: red !important; }

.last-project .owl-dot.active span {
  background-color: #065e9f !important; }

.vacancies-slider .item {
  border: 1px solid silver;
  padding: 2rem;
  overflow: hidden; }
  .vacancies-slider .item p {
    font-size: 15px; }
  .vacancies-slider .item .vacancies-title {
    margin-bottom: 1.3rem; }
  .vacancies-slider .item .red-text {
    color: red;
    display: block;
    margin-bottom: .5rem; }

@media only screen and (max-width: 768px) {
  h1,
  h2 {
    font-size: x-large; }
  h5 {
    font-size: medium; }
  header {
    height: 9rem; }
  .btn-service {
    font-size: 13px; }
  .navbar,
  nav {
    display: none !important; }
  .main-block {
    display: none !important; }
  .mian-slider .item {
    height: 80vh; }
    .mian-slider .item img {
      height: 100%; }
  .mian-slider .owl-dots {
    top: 50%; }
  .mian-slider .main-text {
    width: 80%;
    top: 25%;
    left: 15%; }
    .mian-slider .main-text p {
      margin: 1rem 0; }
  .about-main {
    padding-bottom: 3rem !important; }
    .about-main .about-content .col-xl-6,
    .about-main .about-content .col-xl-5 {
      padding: 0 15px !important; }
    .about-main .about-content .about-right {
      margin: 1rem 0; }
    .about-main .about-content .about-left {
      margin: 1rem 0;
      text-align: left !important; }
    .about-main .line {
      display: none; }
    .about-main .end-line {
      display: none; }
  .project-name .arrow-left {
    left: 0 !important; }
  .project-name .arrow-right {
    right: 0 !important; }
  .project-name .project-name-icon {
    justify-content: start !important; }
  .project-name .project-name-item {
    padding: 1rem 0 !important;
    text-align: left; }
  .our-service {
    padding: 3rem 0 !important; }
    .our-service .our-card {
      margin-top: 1rem; }
      .our-service .our-card img {
        width: 50px; }
    .our-service .btn-service {
      margin-top: 2rem !important; }
  .clients {
    padding: 3rem 0 !important; }
  .last-project {
    padding: 3rem 0 !important; }
  .contacts .map {
    margin: 1rem 0; }
  .contacts .row {
    margin: 0; }
  .contacts .contacts-content {
    padding: 2rem 0 !important; }
    .contacts .contacts-content .title {
      padding-bottom: 1rem; }
  footer .footer-link {
    display: block !important;
    text-align: center; }
    footer .footer-link a {
      display: block; }
  .univer-left-block {
    padding: 3rem 1rem !important; }
  .univer-right-block {
    padding: 3rem 1rem !important; }
    .univer-right-block img {
      margin-bottom: 1rem;
      width: 45px !important; }
  .ministr-left-block {
    padding: 3rem 1rem !important; }
    .ministr-left-block .ministr-left-content img {
      margin-bottom: 2rem;
      width: 45px !important; }
  .ministr-right-block {
    padding: 3rem 1rem !important; }
  .services .services-content .services-card .services-card-header {
    display: block !important; }
    .services .services-content .services-card .services-card-header .services-header-text {
      width: 100% !important;
      margin: 1.5rem 0; }
  .companies-portfolio .portfolio-content .companies-logo .logo {
    justify-content: center; }
  .about-content .about-block .about-right-block .about-right-head {
    flex-direction: column;
    align-items: center; }
  .about-content .about-block .about-left-block {
    padding: 1rem 0 !important; }
  .about-content .about-block .about-right-block {
    padding: 2rem 0 !important; }
    .about-content .about-block .about-right-block h5 {
      margin: 1rem 0 !important; }
    .about-content .about-block .about-right-block .about-right-head .about-right-content img {
      width: 50px !important;
      height: 50px !important; }
  .companies-portfolio {
    padding-bottom: 1rem !important; }
    .companies-portfolio .portfolio-content .portfolio-text {
      padding-left: 0 !important;
      padding-top: 1rem !important; }
  .major-companies .blue-logo .blue-img {
    width: 80px !important;
    height: 80px !important; }
    .major-companies .blue-logo .blue-img img {
      width: 50px; }
  .major-companies button {
    margin-top: 2rem !important; }
  .vacancies-left {
    left: 0 !important; }
  .vacancies-right {
    right: 0 !important; } }

@media only screen and (min-width: 1024px) and (max-width: 1360px) {
  h1,
  h2 {
    font-size: x-large; }
  h5 {
    font-size: medium; }
  .univer-block .univer-left-block {
    padding: 5rem 1rem !important; }
  .ministr-block .ministr-right-block {
    padding: 5rem 1rem !important; }
  .contacts .row {
    margin: 0; }
  .about-content .about-block .about-right-block {
    padding-top: 125px !important; }
    .about-content .about-block .about-right-block .about-right-head .about-right-content img {
      width: 50px !important;
      height: 50px !important; }
  .companies-portfolio .portfolio-content .companies-logo .logo {
    justify-content: center; }
  .contacts .contacts-content {
    padding: 1rem 0 !important; } }

.burger-menu-btn {
  width: 3rem;
  height: 2.5rem;
  background-color: #838efb;
  border-radius: 5px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: all 1s ease;
  z-index: 11; }

.burger-menu-lines,
.burger-menu-lines::after,
.burger-menu-lines::before {
  position: absolute;
  width: 2rem;
  height: 5px;
  background-color: #fff; }

.burger-menu-lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease; }

.burger-menu-lines::after {
  content: "";
  top: -12px;
  transition: all 0.5s ease; }

.burger-menu-lines::before {
  content: "";
  top: 12px;
  transition: all 0.5s ease; }

.burger-menu-lines-active .burger-menu-lines {
  background-color: transparent; }

.burger-menu-lines-active .burger-menu-lines::before {
  top: 0;
  transform: rotate(-45deg); }

.burger-menu-lines-active .burger-menu-lines::after {
  top: 0;
  transform: rotate(45deg); }

.mobile-menu {
  transition: all 1s ease;
  display: none;
  position: absolute;
  top: 0;
  z-index: 999; }
  .mobile-menu .logo {
    padding: 1rem 0 1rem 1rem; }
  .mobile-menu .mobile-nav {
    position: fixed;
    background-color: #378e9f;
    height: 100vh;
    z-index: 9;
    transition: 0.5s;
    width: 100%;
    text-align: center;
    opacity: 0.9;
    transform: translateX(100%);
    font-size: 20px;
    font-weight: bold;
    padding-top: 1rem;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 100%; }
    .mobile-menu .mobile-nav ul li {
      list-style-type: none; }
      .mobile-menu .mobile-nav ul li a {
        color: #fff;
        transform: translateY(200%);
        margin: 1rem 0;
        display: block;
        border: 1px solid #fff;
        padding: 0.5rem;
        box-shadow: 5px 5px; }
        .mobile-menu .mobile-nav ul li a:nth-child(1) {
          transition: all 0.2s ease; }
        .mobile-menu .mobile-nav ul li a:nth-child(2) {
          transition: all 0.5s ease; }
        .mobile-menu .mobile-nav ul li a:nth-child(3) {
          transition: all 0.8s ease; }
        .mobile-menu .mobile-nav ul li a:nth-child(4) {
          transition: all 1.1s ease; }
        .mobile-menu .mobile-nav ul li a:nth-child(5) {
          transition: all 1.3s ease; }
        .mobile-menu .mobile-nav ul li a:nth-child(6) {
          transition: all 1.6s ease; }
        .mobile-menu .mobile-nav ul li a:nth-child(7) {
          transition: all 1.9s ease; }
    .mobile-menu .mobile-nav p {
      margin: 3rem 0 0 0; }
    .mobile-menu .mobile-nav form {
      height: 5rem;
      position: relative; }
      .mobile-menu .mobile-nav form img {
        position: absolute;
        right: 1rem; }
      .mobile-menu .mobile-nav form input {
        height: 4rem;
        width: 100%;
        margin-right: 0 !important; }
    .mobile-menu .mobile-nav .btn-red {
      margin-top: 4rem;
      height: 4rem; }

.mobile-nav-active {
  transform: translateX(0) !important;
  border-bottom-left-radius: 0 !important; }
  .mobile-nav-active ul li {
    list-style-type: none !important; }
    .mobile-nav-active ul li a {
      transform: translateY(0) !important;
      margin: 1rem 0 !important;
      display: block !important; }

@media only screen and (max-width: 576px) {
  .mobile-menu {
    display: block !important; } }

footer {
  background-color: #0a3563;
  padding: 40px 0; }
  footer .footer-link {
    justify-content: space-evenly; }
    footer .footer-link a {
      color: #fff; }
  footer .footer-adress {
    margin-top: 48px; }
    footer .footer-adress .adress {
      color: #fff; }
      footer .footer-adress .adress .silver-text {
        color: silver;
        font-size: 14px; }
    footer .footer-adress .email h4 {
      color: #fff; }
    footer .footer-adress .email a {
      color: #a1ceff; }
    footer .footer-adress .social a:first-child {
      margin-left: 50px; }
    footer .footer-adress .social a i {
      color: #a1ceff;
      border: 5px solid #084073;
      padding: 6px;
      border-radius: 50%;
      background-color: #006db3;
      transition: all .3s ease; }
      footer .footer-adress .social a i:hover {
        transform: scale(1.1); }

header {
  background-image: url("../images/index-slider.png");
  padding-top: 23px;
  z-index: 555;
  width: 100%; }

.navbar .collapse p {
  margin: 0; }

.navbar .collapse .navbar-nav {
  align-items: center; }
  .navbar .collapse .navbar-nav ul li {
    list-style-type: none;
    padding: 0 20px;
    border-right: 2px solid #011961;
    color: #fff; }
    .navbar .collapse .navbar-nav ul li p {
      font-size: 18px; }
    .navbar .collapse .navbar-nav ul li a {
      color: #a1ceff; }

nav {
  display: flex;
  justify-content: space-around;
  padding-top: 2.2rem;
  height: 5.5rem; }
  nav a {
    color: #fff;
    position: relative; }

.active-index::after {
  content: "";
  position: absolute;
  left: 23%;
  top: -6px;
  width: 60%;
  height: 3px;
  background-color: #c02111; }

.active-link::after {
  content: '';
  width: 70%;
  height: 5px;
  background-color: #c02111;
  position: absolute;
  left: 15%;
  bottom: 0; }

.main-block {
  position: absolute;
  padding-top: 23px;
  z-index: 555;
  width: 100%; }

.lang {
  align-items: center; }
  .lang .lang-active {
    background-color: #001143;
    border: none; }
  .lang a {
    color: #a1ceff;
    line-height: 14px;
    border: 5px solid #084073;
    padding: 6px 6px;
    border-radius: 50%;
    background-color: #006db3;
    transition: all 0.3s ease;
    margin-right: 10px;
    display: flex;
    align-items: center; }
    .lang a:hover {
      transform: scale(1.1);
      text-decoration: none; }
    .lang a:first-child {
      margin-left: 14px; }
    .lang a:last-child {
      margin-right: 0; }

.about-main {
  padding: 80px 0 140px;
  position: relative; }
  .about-main::before {
    content: '';
    width: 150px;
    height: 150px;
    position: absolute;
    background-image: url(../images/combined-shape.png);
    background-size: cover;
    left: 0;
    top: 30%; }
  .about-main::after {
    content: '';
    width: 150px;
    height: 150px;
    position: absolute;
    background-image: url(../images/combined-shape.png);
    background-size: cover;
    right: 5%;
    bottom: 15%; }
  .about-main .about-bg {
    position: absolute;
    background-image: url(../images/combined-shape-1.png);
    width: 80px;
    height: 140px;
    right: 0;
    background-size: contain; }
  .about-main .about-text {
    margin-bottom: 50px; }
  .about-main .about-content .about-right {
    text-align: left; }
    .about-main .about-content .about-right .right-text {
      position: relative; }
  .about-main .about-content .about-left {
    text-align: right; }
    .about-main .about-content .about-left .left-text {
      position: relative; }

.line {
  position: relative; }
  .line::before {
    content: "";
    background-image: url(../images/oval.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position-x: left;
    position: absolute;
    top: 0.3rem;
    left: 42%; }
  .line::after {
    content: "";
    width: 3.5px;
    height: 75%;
    position: absolute;
    background-color: #c02111;
    bottom: 8px; }

.line-right {
  position: relative; }
  .line-right::before {
    content: "";
    background-image: url(../images/oval.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position-x: left;
    position: absolute;
    top: 0.3rem;
    left: 42%; }
  .line-right::after {
    content: "";
    width: 3.5px;
    height: 75%;
    position: absolute;
    background-color: #c02111;
    bottom: 7px; }

.end-line {
  position: relative; }
  .end-line::before {
    content: "";
    background-image: url(../images/oval.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position-x: left;
    position: absolute;
    top: 0.3rem;
    left: 42%; }
  .end-line::after {
    content: "";
    background-image: url(../images/end-line.png);
    width: 3.5px;
    height: 80%;
    position: absolute;
    bottom: 0;
    background-size: cover; }

.our-service {
  padding: 110px 0 100px;
  background-image: url(../images/our-service-bg.png);
  background-position-x: center;
  background-color: #f7f7f9;
  background-repeat: no-repeat;
  background-size: cover; }
  .our-service .our-card {
    text-align: center;
    margin-bottom: 2rem; }
    .our-service .our-card img {
      max-width: 125px;
      margin-bottom: 22px; }
    .our-service .our-card .b-text {
      font-size: 20px;
      padding: 22px 4rem 1rem; }
  .our-service .btn-service {
    margin-top: 100px; }

.last-project {
  padding: 100px 0 53px; }

.project-name {
  position: relative;
  background-image: url(../images/name-project-bg.png);
  background-size: cover;
  background-repeat: no-repeat; }
  .project-name .item {
    padding: 30px 0 21px; }
  .project-name .project-name-item {
    background: rgba(0, 13, 54, 0.8);
    padding: 40px 60px 70px 130px;
    color: #fff; }
    .project-name .project-name-item p {
      font-size: 14px; }
    .project-name .project-name-item span {
      background-color: #fff;
      border-radius: 50%;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 23px 0 14px 10px; }
      .project-name .project-name-item span img {
        width: 21px; }
  .project-name .arrow-left {
    position: absolute;
    left: 3%;
    top: 50%;
    z-index: 10; }
  .project-name .arrow-right {
    position: absolute;
    right: 3%;
    top: 50%;
    z-index: 10; }

.clients {
  padding: 180px 0 90px;
  background-image: url(../images/our-service-bg.png);
  background-color: #f7f7f9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  position: relative; }
  .clients .clients-left {
    position: absolute;
    left: 3%;
    top: 60%;
    z-index: 10; }
  .clients .clients-right {
    position: absolute;
    right: 3%;
    top: 60%;
    z-index: 10; }
  .clients .clients-slider .item .clients-card {
    background-color: #fff;
    margin: 5px 0;
    border-radius: 8px;
    padding: 36px 30px;
    font-size: 14px;
    box-shadow: 0 0 5px 0 rgba(176, 184, 185, 0.5); }
    .clients .clients-slider .item .clients-card .clients-img {
      min-height: 6rem; }
      .clients .clients-slider .item .clients-card .clients-img img {
        width: auto;
        margin: 0 auto; }

.contacts {
  background-color: #0d4c91; }
  .contacts .map {
    height: 100%; }
  .contacts .contacts-content {
    padding: 72px 150px 72px 110px; }
    .contacts .contacts-content .title {
      color: #fff;
      margin: 0; }
    .contacts .contacts-content label {
      display: block;
      color: #fff; }
    .contacts .contacts-content input {
      width: 100%;
      border-radius: 1rem;
      padding-left: 12px;
      margin-bottom: 19px; }
      .contacts .contacts-content input:focus {
        color: #000;
        outline: none; }
        .contacts .contacts-content input:focus::placeholder {
          color: #000; }
    .contacts .contacts-content textarea {
      width: 100%;
      border-radius: 1rem;
      padding-left: 12px; }
      .contacts .contacts-content textarea:focus {
        color: #000;
        outline: none; }
        .contacts .contacts-content textarea:focus::placeholder {
          color: #000; }

.projects {
  padding-bottom: 42px; }

.univer-block {
  background-color: #092644; }
  .univer-block .univer-left-block {
    color: #fff;
    padding: 89px 7rem 111px 100px; }
    .univer-block .univer-left-block p {
      font-size: 14px;
      margin-top: 37px; }
    .univer-block .univer-left-block b {
      font-weight: bold !important; }
    .univer-block .univer-left-block .btn-service {
      margin-top: 2rem; }
  .univer-block .univer-right-block {
    background-image: url("../images/univer-right.jpg");
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .univer-block .univer-right-block .univer-right-head .univer-right-content {
      margin-bottom: 40px; }
      .univer-block .univer-right-block .univer-right-head .univer-right-content:last-child {
        margin-bottom: 0 !important; }
      .univer-block .univer-right-block .univer-right-head .univer-right-content h5 {
        color: #fff;
        white-space: pre-line; }
      .univer-block .univer-right-block .univer-right-head .univer-right-content img {
        margin-right: 3rem;
        width: 85px; }

.ministr-block {
  background-color: #f7f7f9;
  margin: 60px 0; }
  .ministr-block .ministr-right-block {
    color: #042548;
    padding: 89px 7rem 111px 100px; }
    .ministr-block .ministr-right-block p {
      font-size: 14px;
      margin-top: 37px; }
    .ministr-block .ministr-right-block button {
      margin-top: 2rem; }
  .ministr-block .ministr-left-block {
    background-image: url("../images/ministr.png");
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .ministr-block .ministr-left-block .ministr-left-head .ministr-left-content {
      margin-bottom: 40px; }
      .ministr-block .ministr-left-block .ministr-left-head .ministr-left-content:last-child {
        margin-bottom: 0 !important; }
      .ministr-block .ministr-left-block .ministr-left-head .ministr-left-content h5 {
        color: #fff;
        white-space: pre-line; }
      .ministr-block .ministr-left-block .ministr-left-head .ministr-left-content img {
        margin-right: 3rem;
        width: 85px; }

.services .services-discription {
  padding-top: 70px;
  background-color: #fff;
  padding-bottom: 70px;
  font-size: 14px; }

.services .services-content {
  background-image: url(../images/rectangle.png);
  padding: 10rem 0 80px;
  transition: all .5s ease;
  background-position-x: center;
  background-size: cover; }
  .services .services-content .services-card {
    transition: all .5s ease;
    padding: 1.5rem 1.5rem 2.3rem;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 rgba(176, 184, 185, 0.5);
    margin-bottom: 30px; }
    .services .services-content .services-card .services-card-header {
      min-height: 8rem; }
      .services .services-content .services-card .services-card-header h5 {
        font-weight: bold; }
      .services .services-content .services-card .services-card-header img {
        margin-right: 2rem; }
      .services .services-content .services-card .services-card-header .services-header-text {
        width: 65%; }
    .services .services-content .services-card .services-card-text {
      font-size: 14px;
      margin: 14px 0; }
  .services .services-content .services-btn {
    margin-top: 30px; }

.border-card {
  border-top: 5px solid #c02111; }

.projects {
  position: relative;
  padding-top: 80px; }

.brands {
  background-image: url(../images/rectangle.png);
  background-position-x: center;
  background-size: cover;
  padding-bottom: 70px;
  padding-top: 8rem; }
  .brands .brand-content {
    background-color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    box-shadow: 0 0 5px 0 rgba(176, 184, 185, 0.5); }
  .brands .col-xl-3 {
    margin-bottom: 30px; }

.contacts-page {
  padding-top: 80px; }
  .contacts-page .contacts-content {
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 45px; }
    .contacts-page .contacts-content .btn-service {
      margin: 2rem 0 35px; }
      .contacts-page .contacts-content .btn-service img {
        margin-right: .5rem; }
    .contacts-page .contacts-content .social-contact .social-icon a {
      transition: all .5s ease; }
      .contacts-page .contacts-content .social-contact .social-icon a:hover {
        transform: scale(1.2); }
    .contacts-page .contacts-content .social-contact .social-icon img {
      margin-right: 1rem;
      width: 34px; }

.projects-about {
  padding: 70px 0 0;
  position: relative; }

.about-discription {
  margin-bottom: 2rem; }
  .about-discription p {
    font-size: 14px; }

.about-content {
  margin-top: 70px; }
  .about-content .about-block {
    background-color: #092644; }
    .about-content .about-block .about-left-block {
      color: #fff;
      padding: 89px 1rem 111px 5rem; }
      .about-content .about-block .about-left-block p {
        font-size: 14px;
        margin-top: 37px;
        font-weight: 100;
        line-height: 24px; }
      .about-content .about-block .about-left-block b {
        font-weight: bold !important; }
      .about-content .about-block .about-left-block button {
        margin-top: 2rem; }
    .about-content .about-block .about-right-block {
      background-image: url(../images/name-project-bg.png);
      background-color: rgba(9, 38, 68, 0.5);
      padding-top: 70px;
      background-position-x: right;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      background-blend-mode: overlay;
      text-align: center;
      padding-bottom: 5rem; }
      .about-content .about-block .about-right-block .about-right-head {
        width: 100%;
        justify-content: center; }
        .about-content .about-block .about-right-block .about-right-head .about-right-content {
          width: 200px;
          margin-bottom: 40px; }
          .about-content .about-block .about-right-block .about-right-head .about-right-content:last-child {
            margin-bottom: 0 !important; }
          .about-content .about-block .about-right-block .about-right-head .about-right-content h5 {
            color: #fff;
            white-space: pre-line;
            margin-top: 45px; }
          .about-content .about-block .about-right-block .about-right-head .about-right-content img {
            width: 85px;
            height: 85px; }
      .about-content .about-block .about-right-block .btn-service {
        margin-top: 68px !important; }

.companies-portfolio {
  padding: 115px 0 107px;
  position: relative; }
  .companies-portfolio .about-bg {
    position: absolute;
    background-image: url(../images/combined-shape-1.png);
    width: 80px;
    height: 140px;
    right: 0;
    top: 40%;
    background-size: contain; }
  .companies-portfolio::after {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    background-image: url(../images/combined-shape.png);
    background-size: cover;
    left: 5%;
    top: 0; }
  .companies-portfolio::before {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    background-image: url(../images/combined-shape.png);
    background-size: cover;
    right: 20%;
    top: -3rem; }
  .companies-portfolio .portfolio-content {
    padding-top: 60px; }
    .companies-portfolio .portfolio-content .companies-logo img {
      width: auto;
      margin: 0px 0 20px; }
    .companies-portfolio .portfolio-content .companies-logo .logo {
      height: 100%;
      display: flex;
      align-items: center; }
    .companies-portfolio .portfolio-content .portfolio-text {
      font-size: 14px;
      padding-left: 50px; }

.major-companies {
  background-image: url(../images/our-service-bg.png);
  padding: 125px 0 104px;
  background-color: #f7f7f9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  position: relative;
  text-align: center; }
  .major-companies button {
    margin-top: 125px; }

.blue-logo {
  margin-bottom: 14px; }
  .blue-logo .blue-img {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d4c91;
    border-radius: 50%;
    margin: 0 auto 22px; }

.vacancies {
  padding: 110px 0 90px 0;
  position: relative; }
  .vacancies .vacancies-left {
    position: absolute;
    top: 45%;
    left: -3rem;
    z-index: 99; }
  .vacancies .vacancies-right {
    position: absolute;
    top: 45%;
    right: -3rem;
    z-index: 99; }
  .vacancies .btn {
    margin-top: 1rem; }
