.btn-service{
    padding: 10px 30px;
    border-radius: 2rem;
    background-color: #c02111;
    color: #fff;
    border: none;
    &:hover{
        background-color: #f34d4d;
    }
}
.btn-outline{
    border-radius: 2rem;
    padding: 10px 30px;
    font-weight: 500;
    border: 1px solid #c02111;
    color: #c02111;
    &:hover{
        background-color: #f34d4d;
    }
}