.mian-slider {
  width: 100%;
  height: 720px;
  .main-text {
    position: absolute;
    top: 240px;
    width: 50%;
    color: #fff;
    p {
      margin: 33px 0 50px;
    }
  }
  .owl-carousel{
    .owl-item{
      .item{
        background-size: cover;
        background-position-x: center;
      }
    }
  }
  .owl-dots {
    position: absolute;
    left: 0;
    top: -8rem;
    z-index: 111111;
    button {
      &:focus {
        outline: none;
      }
    }
    .owl-dot span {
      width: 5px;
      height: 5px;
      margin-bottom: 25px;
    }
    .owl-dot.active span {
      background-color: #065e9f;
    }
  }
}
.last-project {
  .owl-dots {
    button {
      &:focus {
        outline: none;
      }
    }
  }
  .owl-dot span {
    width: 5px !important;
    height: 5px !important;
    margin-right: 25px !important;
    background-color: red !important;
  }
  .owl-dot.active span {
    background-color: #065e9f !important;
  }
}
.vacancies-slider {
  .item {
    border: 1px solid silver;
    padding: 2rem;
    overflow: hidden;
    p {
      font-size: 15px;
    }
    .vacancies-title {
      margin-bottom: 1.3rem;
      p{
        width: 70%;
        .red-text{
          display: inline !important;
          margin-left: 5px;
          font-weight: 500;
        }
      }
    }
    .red-text {
      color: red;
      display: block;
      margin-bottom: .5rem;
    }
  }
}
