@media only screen and (max-width: 768px) { 
  .title{
    padding-bottom: 1rem;
  }
  h1,
  h2 {
    font-size: x-large;
  }
  h5{
    font-size: medium;
  }
  header {
    height: 9rem;
  }
  .btn-service {
    font-size: 13px;
  }
  .navbar,
  nav {
    display: none !important;
  }
  .main-block {
    display: none !important;
  }
  .mian-slider {
    height: auto !important;
    .item {
      height: 90vh;
      background-position-x: 70% !important;
      img {
        height: 100% !important;
        width: auto;
      }
    }
    .main-text {
      width: 80%;
      top: 25%;
      left: 15%;
      p {
        margin: 1rem 0;
      }
    }
  }
  .about-main {
    padding-bottom: 3rem !important;
    overflow-x: hidden;
    .about-content {
      .col-xl-6,
      .col-xl-5 {
        padding: 0 15px !important;
      }
      .about-right {
        margin: 1rem 0;
        border-left: 2px solid #c02111;
        padding-left: 1rem;
      }
      .about-left {
        margin: 1rem 0;
        text-align: left !important;
        border-left: 2px solid #c02111;
        padding-left: 1rem;
      }
    }
    .line {
      &::before{
        top: -1rem;
        left: 2%;
      }
    }
    .end-line {
      display: none;
    }
  }
  .projects{
    padding: 2rem 0 !important;
  }
  .project-name {
    .arrow-left {
      left: 2% !important;
      top: 38% !important;
    }
    .arrow-right {
      right: 2% !important;
      top: 38% !important;
    }
    .project-name-icon {
      justify-content: start !important;
    }
    .project-name-item {
      padding: 1rem 0 !important;
      text-align: left;
    }
  }
  .our-service {
    padding: 3rem 0 !important;
    .our-card {
      margin-top: 1rem;
      img {
        width: 50px;
      }
    }
    .btn-service {
      margin-top: 2rem !important;
    }
  }
  .clients {
    padding: 3rem 0 !important;
    .clients-right{
      top: 50% !important;
    }
    .clients-left{
      top: 50% !important;
    }
  }
  .last-project {
    padding: 3rem 0 !important;
  }
  .contacts {
    .map {
      margin: 1rem 0;
    }
    .row {
      margin: 0;
    }
    .contacts-content {
      .title {
        padding-bottom: 1rem;
      }
      padding: 2rem 0 !important;
    }
  }
  footer {
    .footer-link {
      display: block !important;
      text-align: center;
      a{
        display: block;
      }
    }
    .footer-adress {
      .email{
        a{
          font-size: 16px;
        }
      }
    }
  }
  .univer-left-block {
    padding: 3rem 1rem !important;
  }
  .univer-right-block {
    padding: 3rem 1rem !important;
    img {
      margin-bottom: 1rem;
      width: 45px !important;
    }
  }
  .ministr-left-block {
    padding: 3rem 1rem !important;
    .ministr-left-content {
      img {
        margin-bottom: 2rem;
        width: 45px !important;
      }
    }
  }
  .ministr-right-block {
    padding: 1.5rem 1rem !important;
  }
  .services {
    .services-content {
      .services-card {
        .services-card-header {
          display: block !important;
          .services-header-text {
            width: 100% !important;
            margin: 1.5rem 0;
          }
        }
      }
    }
  }
  .companies-portfolio{
    .portfolio-content{
      .companies-logo {
        .logo{
          justify-content: center;
        }
      }
    }
  }
  .about-content{
    .about-block{
      .about-right-block{
        .about-right-head{
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
  .about-content{
    .about-block{
      .about-left-block{
        padding: 1rem 0 !important;
      }
      .about-right-block{
        padding: 2rem 0 !important;
        h5{
          margin: 1rem 0 !important;
        }
        .about-right-head{
          .about-right-content{
            img{
              width: 50px !important;
              height: 50px !important;
            }
          }
        }
      }
    }
  }
  .companies-portfolio{
    padding-bottom: 1rem !important;
    .portfolio-content{
      .portfolio-text{
        padding-left: 0 !important;
        padding-top: 1rem !important;
      }
    }
  }
  .major-companies{
    .blue-logo{
      .blue-img{
        width: 80px !important;
        height: 80px !important;
        img{
          width: 50px;
        }
      }
    }
    button{
      margin-top: 2rem !important;
    }
  }
  .vacancies-left{
    left: 0 !important;
  }
  .vacancies-right{
    right: 0 !important;
  }
  .brands{
    padding-top: 0 !important;
  }
  .projects-discription{
    padding-bottom: 0 !important;
    h2{
      margin: 0 !important;
    }
  }
  .ministr-block{
    margin: 1rem 0 !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1360px) {
  h1,
  h2 {
    font-size: x-large;
  }
  h5{
    font-size: medium;
  }
  .univer-block {
    .univer-left-block {
      padding: 5rem 1rem !important;
    }
  }
  .ministr-block {
    .ministr-right-block {
      padding: 5rem 1rem !important;
    }
  }
  .contacts {
    .row {
      margin: 0;
    }
  }
  .about-content{
    .about-block{
      .about-right-block{
        padding-top: 125px !important;
        .about-right-head{
          .about-right-content{
            img{
              width: 50px !important;
              height: 50px !important;
            }
          }
        }
      }
    }
  }
  .companies-portfolio{
    .portfolio-content{
      .companies-logo{
        .logo{
          justify-content: center;
        }
      }
    }
  }
  .contacts{
    .contacts-content{
      padding: 1rem 0 !important;
    }
  }
  .line {
    &::before{
      top: -1rem;
      left: 2%;
    }
  }
  .end-line {
    display: none;
  }
  .about-content {
    .col-xl-6,
    .col-xl-5 {
      padding: 0 15px !important;
    }
    .about-right {
      margin: 1rem 0;
      border-left: 2px solid #c02111;
      padding-left: 1rem;
    }
    .about-left {
      margin: 1rem 0;
      text-align: left !important;
      border-left: 2px solid #c02111;
      padding-left: 1rem;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
  .about-content .about-block .about-right-block .about-right-head {
    flex-direction: column;
    align-items: center; }
  .about-content .about-block .about-left-block {
    padding: 1rem 0 !important; }
  .about-content .about-block .about-right-block {
    padding: 2rem 0 !important; }
    .about-content .about-block .about-right-block h5 {
      margin: 1rem 0 !important; }
    .about-content .about-block .about-right-block .about-right-head .about-right-content img {
      width: 50px !important;
      height: 50px !important; }
      .about-main {
        padding-bottom: 3rem !important;
        overflow-x: hidden; }
        .about-main .about-content .col-xl-6,
        .about-main .about-content .col-xl-5 {
          padding: 0 15px !important; }
        .about-main .about-content .about-right {
          margin: 1rem 0;
          border-left: 2px solid #c02111;
          padding-left: 1rem; }
        .about-main .about-content .about-left {
          margin: 1rem 0;
          text-align: left !important;
          border-left: 2px solid #c02111;
          padding-left: 1rem; }
        .about-main .line::before {
          top: -1rem;
          left: 2%; }
        .about-main .end-line {
          display: none; }
}