// BURDER-BUTTON
.burger-menu-btn {
  width: 3rem;
  height: 2.5rem;
  background-color: #006DB3;
  border-radius: 5px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: all 1s ease;
  z-index: 11;
}
.burger-menu-lines,
.burger-menu-lines::after,
.burger-menu-lines::before {
  position: absolute;
  width: 2rem;
  height: 5px;
  background-color: #fff;
}
.burger-menu-lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}
.burger-menu-lines::after {
  content: "";
  top: -12px;
  transition: all 0.5s ease;
}
.burger-menu-lines::before {
  content: "";
  top: 12px;
  transition: all 0.5s ease;
}

.burger-menu-lines-active .burger-menu-lines {
  background-color: transparent;
}

.burger-menu-lines-active .burger-menu-lines::before {
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu-lines-active .burger-menu-lines::after {
  top: 0;
  transform: rotate(45deg);
}
// BURDER-BUTTON-END
.mobile-menu {
  transition: all 1s ease;
  display: none;
  position: absolute;
  top: 0;
  z-index: 999;
  .logo {
    padding: 1rem 0 1rem 1rem;
  }
  .mobile-nav {
    position: fixed;
    background-color: #084073;
    height: 100vh;
    z-index: 9;
    transition: 0.5s;
    width: 100%;
    text-align: center;
    transform: translateX(100%);
    font-size: 20px;
    font-weight: bold;
    padding-top: 1rem;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 100%;
    ul {
      li {
        list-style-type: none;
        a {
          color: #fff;
          transform: translateY(200%);
          margin: 1rem 0;
          display: block;
          border: 1px solid #fff;
          background-color: #006DB3;
          padding: 0.5rem;
          box-shadow: 5px 5px #fff;
          &:nth-child(1) {
            transition: all 0.2s ease;
          }
          &:nth-child(2) {
            transition: all 0.5s ease;
          }
          &:nth-child(3) {
            transition: all 0.8s ease;
          }
          &:nth-child(4) {
            transition: all 1.1s ease;
          }
          &:nth-child(5) {
            transition: all 1.3s ease;
          }
          &:nth-child(6) {
            transition: all 1.6s ease;
          }
          &:nth-child(7) {
            transition: all 1.9s ease;
          }
        }
      }
    }
    p {
      margin: 3rem 0 0 0;
    }
    form {
      height: 5rem;
      position: relative;
      img {
        position: absolute;
        right: 1rem;
      }
      input {
        height: 4rem;
        width: 100%;
        margin-right: 0 !important;
      }
    }
    .btn-red {
      margin-top: 4rem;
      height: 4rem;
    }
  }
}

.mobile-nav-active {
  transform: translateX(0) !important;
  border-bottom-left-radius: 0 !important;
  ul {
    li {
      list-style-type: none !important;
      a {
        transform: translateY(0) !important;
        margin: 1rem 0 !important;
        display: block !important;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .mobile-menu {
    display: block !important;
  }
}
@media only screen and (max-width: 768PX) {
  .mobile-menu {
    display: block !important;
  }
}

